USE [master]
GO
/****** Object:  Database [QuanLyCuaHangTraSua_HKT]    Script Date: 05/30/2023 11:30:03 AM ******/
CREATE DATABASE [QuanLyCuaHangTraSua_HKT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCuaHangTraSua_HKT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuanLyCuaHangTraSua_HKT.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyCuaHangTraSua_HKT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuanLyCuaHangTraSua_HKT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCuaHangTraSua_HKT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCuaHangTraSua_HKT]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 05/30/2023 11:30:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[MaBan] [int] IDENTITY(1,1) NOT NULL,
	[TenBan] [nvarchar](20) NULL,
	[MaKhuVuc] [int] NULL,
	[TrangThai] [bit] NULL CONSTRAINT [DF__Ban__TrangThai__68487DD7]  DEFAULT ((0)),
 CONSTRAINT [PK_Ban] PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 05/30/2023 11:30:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[GiamGia] [int] NULL,
	[ThanhTien] [float] NULL,
	[Size] [char](1) NOT NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC,
	[Size] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 05/30/2023 11:30:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaChucVu] [int] NOT NULL,
	[TenChucVu] [nvarchar](20) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK__ChucVu__D4639533ED094742] PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 05/30/2023 11:30:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK__DanhMuc__B37508876194D837] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 05/30/2023 11:30:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[NgayLapHD] [datetime] NULL,
	[MaNV] [int] NOT NULL,
	[TongTien] [float] NULL,
	[TrangThai] [bit] NULL,
	[MaBan] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK__HoaDon__2725A6E01C3CC7D9] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 05/30/2023 11:30:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[MaKhuVuc] [int] IDENTITY(1,1) NOT NULL,
	[TenKhuVuc] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK__KhuVuc__0676EB83A4A84EEC] PRIMARY KEY CLUSTERED 
(
	[MaKhuVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiTK]    Script Date: 05/30/2023 11:30:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTK](
	[IDLoaiTK] [int] NOT NULL,
	[TenLoaiTK] [nvarchar](20) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK__LoaiTK__B57A52E700417BA5] PRIMARY KEY CLUSTERED 
(
	[IDLoaiTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 05/30/2023 11:30:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[NgayVaoLam] [datetime] NULL,
	[GioiTinh] [bit] NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SoDienThoai] [nvarchar](10) NULL,
	[Email] [nvarchar](100) NULL,
	[TrangThai] [bit] NULL CONSTRAINT [DF__NhanVien__TrangT__5CD6CB2B]  DEFAULT ((0)),
	[ChucVu] [int] NULL,
 CONSTRAINT [PK__NhanVien__2725D70A756EACF3] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 05/30/2023 11:30:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[MaDanhMuc] [int] NULL,
	[TenSP] [nvarchar](50) NULL,
	[MoTa] [nvarchar](50) NULL,
	[DonViTinh] [nvarchar](5) NULL,
	[DonGiaL] [float] NULL,
	[DonGiaM] [float] NULL,
	[TrangThai] [bit] NULL,
	[AnhSP] [image] NULL,
 CONSTRAINT [PK__SanPham__2725081C6FDDCF18] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 05/30/2023 11:30:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenTK] [nvarchar](50) NULL,
	[MatKhau] [char](32) NULL,
	[MaNV] [int] NULL,
	[TrangThai] [bit] NULL CONSTRAINT [DF__TaiKhoan__TrangT__619B8048]  DEFAULT ((0)),
	[MaLoaiTK] [int] NULL,
 CONSTRAINT [PK__TaiKhoan__3214EC27097C97AF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Ban] ON 

INSERT [dbo].[Ban] ([MaBan], [TenBan], [MaKhuVuc], [TrangThai]) VALUES (1, N'Bàn 1', 1, 1)
INSERT [dbo].[Ban] ([MaBan], [TenBan], [MaKhuVuc], [TrangThai]) VALUES (2, N'Bàn 2', 1, 1)
INSERT [dbo].[Ban] ([MaBan], [TenBan], [MaKhuVuc], [TrangThai]) VALUES (3, N'Bàn 3', 1, 1)
SET IDENTITY_INSERT [dbo].[Ban] OFF
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia], [GiamGia], [ThanhTien], [Size], [TrangThai]) VALUES (1, 2, 2, 45000, 0, 90000, N'L', 1)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia], [GiamGia], [ThanhTien], [Size], [TrangThai]) VALUES (1, 2, 1, 35000, 0, 35000, N'M', 1)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia], [GiamGia], [ThanhTien], [Size], [TrangThai]) VALUES (2, 1, 3, 35000, 0, 105000, N'M', 1)
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu], [TrangThai]) VALUES (1, N'Admin', 0)
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu], [TrangThai]) VALUES (2, N'Nhân viên', 0)
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [TrangThai]) VALUES (1, N'Trà Sữa', 1)
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [TrangThai]) VALUES (2, N'Coffe', 1)
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [NgayLapHD], [MaNV], [TongTien], [TrangThai], [MaBan], [GhiChu]) VALUES (1, CAST(N'2023-04-28 20:44:12.610' AS DateTime), 1, 125000, 1, 1, N'c')
INSERT [dbo].[HoaDon] ([MaHD], [NgayLapHD], [MaNV], [TongTien], [TrangThai], [MaBan], [GhiChu]) VALUES (2, CAST(N'2023-04-28 20:47:21.000' AS DateTime), 1, 140000, 1, 2, N'k')
INSERT [dbo].[HoaDon] ([MaHD], [NgayLapHD], [MaNV], [TongTien], [TrangThai], [MaBan], [GhiChu]) VALUES (3, CAST(N'2023-04-28 20:50:25.000' AS DateTime), 1, 110500, 1, 3, N'k')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
SET IDENTITY_INSERT [dbo].[KhuVuc] ON 

INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc], [TrangThai]) VALUES (1, N'Khu A', 0)
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc], [TrangThai]) VALUES (2, N'Khu B', 0)
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc], [TrangThai]) VALUES (3, N'Khu C', 0)
SET IDENTITY_INSERT [dbo].[KhuVuc] OFF
INSERT [dbo].[LoaiTK] ([IDLoaiTK], [TenLoaiTK], [TrangThai]) VALUES (1, N'Admin', 1)
INSERT [dbo].[LoaiTK] ([IDLoaiTK], [TenLoaiTK], [TrangThai]) VALUES (2, N'Nhân viên', 1)
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [NgayVaoLam], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [TrangThai], [ChucVu]) VALUES (1, N'Nhật Trường', CAST(N'2003-03-03' AS Date), CAST(N'2020-03-08 00:00:00.000' AS DateTime), 1, N'Tiền Giang', N'0912345', N'123@gmail.com', 0, 1)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [NgayVaoLam], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [TrangThai], [ChucVu]) VALUES (2, N'Việt Hào', CAST(N'2003-03-03' AS Date), CAST(N'2023-04-10 00:00:00.000' AS DateTime), 1, N'An Giang', N'0946040072', N'456@gmail.com', 0, 2)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [NgayVaoLam], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [TrangThai], [ChucVu]) VALUES (3, N'Duy Khánh', CAST(N'2003-03-03' AS Date), CAST(N'2023-04-10 00:00:00.000' AS DateTime), 1, N'Tiền Giang', N'0965484', N'789@gmail.com', 0, 2)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
SET IDENTITY_INSERT [dbo].[SanPham] ON 

SET IDENTITY_INSERT [dbo].[SanPham] OFF
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([ID], [TenTK], [MatKhau], [MaNV], [TrangThai], [MaLoaiTK]) VALUES (1, N'truong1', N'bcc67d8524948bbd873e4df12c89b182', 1, 1, 1)
INSERT [dbo].[TaiKhoan] ([ID], [TenTK], [MatKhau], [MaNV], [TrangThai], [MaLoaiTK]) VALUES (2, N'viehao38', N'4f67d06f7f43bd564a0b003350ffeee5', 2, 1, 2)
INSERT [dbo].[TaiKhoan] ([ID], [TenTK], [MatKhau], [MaNV], [TrangThai], [MaLoaiTK]) VALUES (3, N'khanhduy', N'202cb962ac59075b964b07152d234b70', 3, 1, 2)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
ALTER TABLE [dbo].[Ban]  WITH CHECK ADD  CONSTRAINT [FK_Ban_KhuVuc] FOREIGN KEY([MaKhuVuc])
REFERENCES [dbo].[KhuVuc] ([MaKhuVuc])
GO
ALTER TABLE [dbo].[Ban] CHECK CONSTRAINT [FK_Ban_KhuVuc]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Ban] FOREIGN KEY([MaBan])
REFERENCES [dbo].[Ban] ([MaBan])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Ban]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([ChucVu])
REFERENCES [dbo].[ChucVu] ([MaChucVu])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChucVu]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DanhMuc] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DanhMuc]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_LoaiTaiKhoan] FOREIGN KEY([MaLoaiTK])
REFERENCES [dbo].[LoaiTK] ([IDLoaiTK])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_LoaiTaiKhoan]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
USE [master]
GO
